{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>

                <h1>{{ todo_list_object.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Edit</a>"
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tasks in todo_list_object.items.all %}
                    <tr>

                        <td>{{ tasks.task }}</td>
                        <td>{{ tasks.due_date}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

    </body>
</html>
{% load static %}
