<!doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>
           <nav>
            {% comment %} <a href="{% url 'todo_list_edit' %}">Main page </a> {% endcomment %}
            </nav>
        </header>
        <main>
            <div>
                <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            Name  <input type="text" name="name">
            <br>
            </br>
                    <button>
                        Update
                    </button>
                </form>
            <h2>
                </div>
                </div>
            </h2>
        </main>
            </div>
    </body>
</html>
